<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header/__headerAuth.ejs', { title: 'Register Manajer' }) %>
</head>

<body>
    <%- include('../partials/messages/messagesAuth.ejs') %>
    <section class="hero-section">
        <div class="brand-logo">
            <img src="../../images/assets/logo_medayuagung_warna.webp" alt="Logo Perpustakaan Medayu">
        </div>
        <div class="auth-form-light login-box">
            <a href="/" class="close-icon" aria-label="Tutup dan kembali"><i class="bi bi-x-lg"></i></a>
            <h2>Register Manajer</h2>
            <form class="pt-3" action="/register-manajer" method="POST">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control form-control-lg" id="nameInput" placeholder="Name" name="nama" value="<%= (typeof data != 'undefined' && data.nama) || '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-vcard"></i></span>
                        <input type="text" class="form-control form-control-lg" id="npInput" placeholder="Nomor Pegawai (NP)" name="NP" value="<%= (typeof data != 'undefined' && data.NP) || '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        <input type="password" class="form-control form-control-lg" id="passwordInput" placeholder="Password" name="kata_sandi" value="<%= (typeof data != 'undefined' && data.kata_sandi) || '' %>">
                        <span class="input-group-text toggle-password"><i class="bi bi-eye-slash"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        <input type="password" class="form-control form-control-lg" id="passwordInput2" placeholder="Confirm Password" name="konfirmasi_kata_sandi" value="">
                        <span class="input-group-text toggle-password"><i class="bi bi-eye-slash"></i></span>
                    </div>
                    <div id="validation-error" class="text-danger mt-2"></div>
                </div>
                <div class="mt-3 text-center d-flex align-items-center justify-content-center">
                    <button type="submit" class="btn auth-form-btn">Register</button>
                </div>
            </form>
        </div>
    </section>

    <%- include('../partials/script/__scriptAuth.ejs') %>
</body>

</html>