<%- include('../../partial/__messages.ejs') %>
<%- include('../../partial/__head.ejs', { title: 'Dashboard Pengurus' }) %>
<%- include('../../partial/__nav-side.ejs') %>

<div class="container">
    <h1 class="mt-4 mb-4">Dashboard Pengurus</h1>

    <div class="row mb-5">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Buku</h5>
                    <p class="card-text fs-4"><%= totalBuku[0].total_buku %> Buku</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Majalah</h5>
                    <p class="card-text fs-4"><%= totalMajalah[0].total_majalah %> Majalah</p>
                </div>
            </div>
        </div>
    </div>

    <h3>Buku Terbaru</h3>
    <div class="table-responsive mb-5">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>ISBN/ISSN</th>
                    <th>No Klasifikasi</th>
                    <th>Lokasi</th>
                </tr>
            </thead>
            <tbody>
                <% newBuku.forEach(buku => { %>
                    <tr>
                        <td><%= buku.judul %></td>
                        <td><%= buku.isbn_issn %></td>
                        <td><%= buku.no_klasifikasi %></td>
                        <td><%= buku.lokasi_buku %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <h3>Majalah Terbaru</h3>
    <div class="table-responsive mb-5">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Edisi</th>
                    <th>No Klasifikasi</th>
                    <th>Lokasi</th>
                </tr>
            </thead>
            <tbody>
                <% newMajalah.forEach(majalah => { %>
                    <tr>
                        <td><%= majalah.judul %></td>
                        <td><%= majalah.edisi %></td>
                        <td><%= majalah.no_klasifikasi %></td>
                        <td><%= majalah.lokasi_majalah %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../../partial/__script.ejs') %>
