    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/skydash/template/index.html">
                <img src="/skydash/template/images/Logo Perpustakaan Medayu.png" class="mr-2" alt="logo" />
                <h6>Perpustakaan Medayu Agung</h6>
            </a>
            <a class="navbar-brand brand-logo-mini" href="/skydash/template/index.html">
                <img src="/skydash/template/images/Logo Perpustakaan Medayu.png" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="icon-menu"></span>
            </button>
            <ul class="navbar-nav mr-lg-2">
                <li class="nav-item nav-search d-none d-lg-block">
                    <div class="input-group">
                        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                            <span class="input-group-text" id="search">
                                <i class="icon-search"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item">
                    <!-- Tombol Logout sebagai form GET -->
                    <form action="/logout" method="GET" style="display: inline;">
                        <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer; color: inherit; text-decoration: none; display: flex; align-items: center; padding: 0.5rem 1rem;">
                            <i class="ti-power-off text-primary mr-2"></i> <!-- Menambahkan mr-2 untuk jarak ikon -->
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item <%= currentPath === '/dashboard' ? 'active' : '' %>">
                <a class="nav-link" href="/dashboard">
                    <i class="icon-grid menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item <%= currentPath === '/buku' ? 'active' : '' %>">
                <a class="nav-link" href="/buku">
                    <i class="icon-columns menu-icon"></i>
                    <span class="menu-title">Buku</span>
                </a>
            </li>
            <li class="nav-item <%= currentPath === '/majalah' ? 'active' : '' %>">
                <a class="nav-link" href="/majalah">
                    <i class="icon-columns menu-icon"></i>
                    <span class="menu-title">Majalah</span>
                </a>
            </li>
            <% 
                // Logika untuk menentukan apakah menu Data Master Buku harus terbuka
                const isDataMasterBukuActive = currentPath.startsWith('/pengurus/user/bahasa') ||
                                               currentPath.startsWith('/pengurus/user/buku/tempat-terbit') ||
                                               currentPath.startsWith('/pengurus/user/buku/penerbit');
            %>
            <li class="nav-item <%= isDataMasterBukuActive ? 'active' : '' %>">
                <a class="nav-link <%= isDataMasterBukuActive ? '' : 'collapsed' %>" data-toggle="collapse" href="#data-master-buku" aria-expanded="<%= isDataMasterBukuActive ? 'true' : 'false' %>" aria-controls="data-master-buku">
                    <i class="icon-book menu-icon"></i>
                    <span class="menu-title">Data Master Buku</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse <%= isDataMasterBukuActive ? 'show' : '' %>" id="data-master-buku">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/bahasa') ? 'active' : '' %>" href="/pengurus/user/bahasa"> Bahasa </a></li>
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/buku/tempat-terbit') ? 'active' : '' %>" href="/pengurus/user/buku/tempat-terbit"> Tempat Terbit Buku </a></li>
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/buku/penerbit') ? 'active' : '' %>" href="/pengurus/user/buku/penerbit"> Penerbit Buku </a></li>
                    </ul>
                </div>
            </li>

            <% 
                // Logika untuk menentukan apakah menu Data Master Majalah harus terbuka
                const isDataMasterMajalahActive = currentPath.startsWith('/pengurus/user/majalah/tempatTerbitMajalah') ||
                                                  currentPath.startsWith('/pengurus/user/majalah/penerbit') ||
                                                  currentPath.startsWith('/pengurus/user/bahasa'); 
            %>
            <li class="nav-item <%= isDataMasterMajalahActive ? 'active' : '' %>">
                <a class="nav-link <%= isDataMasterMajalahActive ? '' : 'collapsed' %>" data-toggle="collapse" href="#data-master-majalah" aria-expanded="<%= isDataMasterMajalahActive ? 'true' : 'false' %>" aria-controls="data-master-majalah">
                    <i class="icon-book menu-icon"></i>
                    <span class="menu-title">Data Master Majalah</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse <%= isDataMasterMajalahActive ? 'show' : '' %>" id="data-master-majalah">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/bahasa') ? 'active' : '' %>" href="/pengurus/user/bahasa">Bahasa</a></li> 
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/majalah/tempatTerbitMajalah') ? 'active' : '' %>" href="/pengurus/user/majalah/tempatTerbitMajalah">Tempat Terbit Majalah</a></li>
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/majalah/penerbit') ? 'active' : '' %>" href="/pengurus/user/majalah/penerbit">Penerbit Majalah</a></li>
                    </ul>
                </div>
            </li>

            <% 
                // Logika untuk menentukan apakah menu Lokasi harus terbuka
                const isLokasiActive = currentPath.startsWith('/pengurus/user/lokasi/lantai') ||
                                       currentPath.startsWith('/pengurus/user/lokasi/rak') ||
                                       currentPath.startsWith('/pengurus/user/lokasi/ruangan'); 
            %>
            <li class="nav-item <%= isLokasiActive ? 'active' : '' %>">
                <a class="nav-link <%= isLokasiActive ? '' : 'collapsed' %>" data-toggle="collapse" href="#lokasi" aria-expanded="<%= isLokasiActive ? 'true' : 'false' %>" aria-controls="Lokasi">
                    <i class="icon-paper menu-icon"></i>
                    <span class="menu-title">Lokasi</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse <%= isLokasiActive ? 'show' : '' %>" id="lokasi">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/lokasi/lantai') ? 'active' : '' %>" href="/pengurus/user/lokasi/lantai">Lantai</a></li>
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/lokasi/ruangan') ? 'active' : '' %>" href="/pengurus/user/lokasi/ruangan">Ruangan</a></li> <!-- DITAMBAHKAN INI -->
                        <li class="nav-item"> <a class="nav-link <%= currentPath.startsWith('/pengurus/user/lokasi/rak') ? 'active' : '' %>" href="/pengurus/user/lokasi/rak">Rak</a></li> 
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    