<%- include('../../../../partials1/header/__header.ejs', { title: 'Tambah Ruangan' }) %>
<%- include('../../../../partials1/nav-side/__nav-sidePengurus.ejs') %>
<%- include('../../../../partials1/messages/messagesDashboard.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Tambah Ruangan</h4>
                  <form action="/pengurus/ruangan/create" method="POST" data-loading>
                    <div class="form-group">
                      <label for="id_lantai">Lantai</label>
                      <select class="form-control" id="id_lantai" name="id_lantai" required>
                        <option value="">Pilih Lantai</option>
                        <% if (Array.isArray(data) && data.length) { %>
                          <% data.forEach(function(item){ %>
                            <option value="<%= item.id %>"><%= item.kode_lantai %></option>
                          <% }) %>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="kode_ruangan">Kode Ruangan</label>
                      <input type="text" class="form-control" id="kode_ruangan" name="kode_ruangan" required>
                    </div>
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                      <a href="/pengurus/ruangan" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../../../partials1/script/__script.ejs') %>