<%- include('../../../../partial/__messages.ejs') %>
<%- include('../../../../partial/__head.ejs', { title: 'Daftar Tempat Terbit' }) %>
<%- include('../../../../partial/__nav-side.ejs') %>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit tempat-terbit</h4>
        <form class="forms-sample" action="/pengurus/tempat-terbit/update/<%= data.id %>" method="POST">
          <div class="form-group">
            <label for="inputTempatTerbit">kota Tempat Terbit</label>
            <input type="text" class="form-control" id="inputTempatTerbit" name="kota" placeholder="Inputkan Kota Tempat Terbit" value="<%= data.kota %>" required>
          </div>
          <div class="form-group">
            <label for="inputTempatTerbit">Negara Tempat Terbit</label>
            <input type="text" class="form-control" id="inputTempatTerbit" name="negara" placeholder="Inputkan Negara Tempat Terbit" value="<%= data.negara %>" required>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Update</button>
          <a href="/pengurus/tempat-terbit" class="btn btn-light">Cancel</a>
        </form>
      </div>
    </div>
  </div>

<%- include('../../../../partial/__script.ejs') %>